<div class="tab row justify-content-between">
  <div class="prime {{menuObj.selected.sidebar == 'gone' ? 'w-100' : 'w-70'}} px-4 pb-4 py-3 row align-items-center">
    <div *ngIf="menuObj.selected.menuName == 'General'" class="h-100 w-100">
      <div class="row h-100 justify-content-between pb-3 pt-1">
        <div class="w-100 h-100 row justify-content-start float-left text-center pt-2">
          <div class="col-4 row align-items-center">
            <app-croppie></app-croppie>
          </div>
          <div class="row col-8 justify-content-center text-center h-100 ovflo-y">
            <div class="row col-6 my-2 justify-content-center" *ngFor="let option of tableData.general.map">
              <h6 class="w-100 my-3 font-weight-bold opac-70">{{option.name}}</h6>
              <textarea [(ngModel)]="inputs[option.body]" class="text-center form-control f-13 col-12"
                rows='3'></textarea>
              <div class="w-25 mt-3 py-0">
                <img [src]="loaderUrl" width="40px" height="28px" *ngIf="loading[option.body] == 'yes'" />
                <button *ngIf="loading[option.body] == null || loading[option.body] == 'no'"
                  class="opac-70 btn wht btn-sm btn-success w-100" (click)="settingUpdate(option.body)">Save</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div *ngIf="menuObj.selected.menuName == 'Users'" class="h-100 w-100">
      <div class="py-2 row align-items-center mt-4">
        <div class="w-100 pb-3 row align-items-center">
          <h4 class="font-fam-Montserrat-bold col-4 px-0">Manage Users</h4>
          <div class="col-8 pb-1 px-0 row align-items-center justify-content-end">
            <input class="form-control text-center w-30" [(ngModel)]="tableData.users.search" placeholder="Search" />
            <button [disabled]="tableData.users.multiSelect || authen['add_user'] == false" class="ml-2 btn btn-success font-fam-Montserrat f-12"
              (click)="openModal({size: 'md', userRoles: tableData.userCategory.data, name:'addUser', data: tableData.userCategory.data[0]});">Add</button>
            <button [disabled]="!tableData.users.selected || tableData.users.multiSelect || authen['update_user'] == false"
              class="ml-2 btn btn-warning font-fam-Montserrat f-12"
              (click)="openModal({size: 'lg', name:'updateUser', userRoles: tableData.userCategory.data, data: tableData.users.selected[0]});">Update</button>
            <button [disabled]="!tableData.users.selected || authen['delete_user'] == false" class="ml-2 btn btn-danger font-fam-Montserrat f-12"
              (click)="deleteRows(tableData.users.selected, 'User')">Delete</button>
            <button class="ml-2 btn selectbtn font-fam-Montserrat f-12" [class.actv]="tableData.users.multiSelect"
              (click)="activateSelectMode('users')">{{tableData.users.multiSelect ? 'Unselect' : 'Select'}}</button>
          </div>
        </div>

      </div>

      <list-table class="w-100" [multiSelect]="tableData.users.multiSelect" name="users" [tableData]="tableData.users"
        height="h-80" [query]="tableData.users.search" (selected)="usersListSelected($event)"></list-table>
    </div>

    <div *ngIf="menuObj.selected.menuName == 'User Roles'" class="h-100 w-100">
      <div class="py-2 row align-items-center mt-4">
        <div class="w-100 pb-3 row align-items-center">
          <h4 class="font-fam-Montserrat-bold col-4 px-0">Manage User Roles</h4>
          <div class="col-8 pb-1 px-0 row align-items-center justify-content-end">
            <input class="form-control text-center w-30" [(ngModel)]="tableData.userCategory.search"
              placeholder="Search" />
            <button [disabled]="tableData.userCategory.multiSelect || authen['add_user_role'] == false"
              class="ml-2 btn btn-success font-fam-Montserrat f-12"
              (click)="openModal({size: 'md', name:'addUserCategory', data: tableData.userCategory.selected[0]});">Add</button>
            <button [disabled]="!tableData.userCategory.selected || tableData.userCategory.multiSelect || authen['update_user_role'] == false"
              class="ml-2 btn btn-warning font-fam-Montserrat f-12"
              (click)="openModal({size: 'lg', name:'updateUserCategory', data: tableData.userCategory.selected[0]});">Update</button>
            <button [disabled]="!tableData.userCategory.selected || authen['delete_user_role'] == false"
              class="ml-2 btn btn-danger font-fam-Montserrat f-12"
              (click)="deleteRows(tableData.userCategory.selected, 'UserCategory')">Delete</button>
            <button class="ml-2 btn selectbtn font-fam-Montserrat f-12"
              [class.actv]="tableData.userCategory.multiSelect"
              (click)="activateSelectMode('userCategory')">{{tableData.userCategory.multiSelect ? 'Unselect' : 'Select'}}</button>
          </div>
        </div>

      </div>

      <list-table class="w-100" [multiSelect]="tableData.userCategory.multiSelect" name="userCategory"
        [tableData]="tableData.userCategory" padd='' height="h-80" textAlign="text-center"
        [query]="tableData.userCategory.search" (selected)="userCategoryListSelected($event)"></list-table>
    </div>

    <div *ngIf="menuObj.selected.menuName == 'Options'" class="h-100 w-100">
      <div class="printing p-4 hs-40">
        <h4 class="w-100 b-1 text-center font-fam-Montserrat-bold pb-2 mb-4">Printing</h4>
        <div class="printing-options row justify-content-between h-100">
          <div class="posPrinter row justify-content-center col px-0 mr-3 h-100"
            style="background: #eee; border-radius: 6px; overflow: hidden;">
            <h6 class="w-100 h-15 wht pt-2 m-0 text-center" style="background: #777;">POS Printer Name</h6>
            <div class="w-70 align-items-center h-80 p-4">
              <input [(ngModel)]="inputs['posPrinter']" placeholder="Printer Name"
                class="text-center form-control f-13 w-100" />
              <div class="w-100 mt-3 py-0 row justify-content-center">
                <img [src]="loaderUrl" width="40px" height="28px" *ngIf="loading['posPrinter'] == 'yes'" />
                <button *ngIf="loading['posPrinter'] == null || loading['posPrinter'] == 'no'"
                  class="opac-70 btn wht btn-sm btn-success w-100" (click)="settingUpdate('posPrinter')">Save</button>
              </div>
              <div class="w-100 row justify-content-center">
                <div class="toggle">
                  <input type="checkbox" [(ngModel)]="inputs['posPrinterisActive']"
                    (change)="settingUpdate('posPrinterisActive')" name="posPrinterisActive" class="check-checkbox"
                    id="posPrinterisActive">
                  <label class="check-label" for="posPrinterisActive">
                    <div id="background">
                      <p class="row justify-content-around py-2 px-1"></p>
                    </div>
                    <span class="face d-inline">
                      <span class="face-container">
                        <span class="eye left"></span>
                        <span class="eye right"></span>
                        <span class="mouth"></span>
                      </span>
                    </span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="A4Printer row justify-content-center col px-0 mx-3 h-100"
            style="background: #eee; border-radius: 6px; overflow: hidden;">
            <h6 class="w-100 h-15 wht pt-2 m-0 text-center" style="background: #777;">A4 Printer Name</h6>
            <div class="w-70 align-items-center h-80 p-4">
              <input [(ngModel)]="inputs['A4Printer']" placeholder="Printer Name"
                class="text-center form-control f-13 w-100" />
              <div class="w-100 mt-3 py-0 row justify-content-center">
                <img [src]="loaderUrl" width="40px" height="28px" *ngIf="loading['A4Printer'] == 'yes'" />
                <button *ngIf="loading['A4Printer'] == null || loading['A4Printer'] == 'no'"
                  class="opac-70 btn wht btn-sm btn-success w-100"
                  (click)="settingUpdate('A4Printer'); switch();">Save</button>
              </div>
              <div class="w-100 row justify-content-center">
                <div class="toggle">
                  <input type="checkbox" [(ngModel)]="inputs['A4PrinterisActive']"
                    (change)="settingUpdate('A4PrinterisActive')" name="A4PrinterisActive" class="check-checkbox"
                    id="A4PrinterisActive">
                  <label class="check-label" for="A4PrinterisActive">
                    <div id="background">
                      <p class="row justify-content-around py-2 px-1"></p>
                    </div>
                    <span class="face">
                      <span class="face-container">
                        <span class="eye left"></span>
                        <span class="eye right"></span>
                        <span class="mouth"></span>
                      </span>
                    </span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="pageSilent row justify-content-center col px-0 mr-3 h-100"
            style="background: #eee; border-radius: 6px; overflow: hidden;">
            <h6 class="w-100 h-15 wht pt-2 m-0 text-center" style="background: #777;">Pages and Silent Print</h6>
            <div class="w-90 row relatv align-items-center h-29 px-4">
              <input [(ngModel)]="inputs['pageNo']" placeholder="Page Number"
                class="text-center form-control d-inline-block hs-5 f-13 col-6" />
              <div class="col-6 pl-4 hs-5 py-0 row justify-content-center">
                <img [src]="loaderUrl" width="40px" height="28px" *ngIf="loading['pageNo'] == 'yes'" />
                <button *ngIf="loading['pageNo'] == null || loading['pageNo'] == 'no'"
                  class="opac-70 btn wht btn-sm btn-success w-100"
                  (click)="settingUpdate('pageNo'); switch();">Save</button>
              </div>
            </div>
            <div class="h-40">
              <h5 class="m-0 opac-70">Silent Print</h5>
              <div class="w-100 row justify-content-center">
                <div class="toggle">
                  <input type="checkbox" [(ngModel)]="inputs['silentPrint']" (change)="settingUpdate('silentPrint')"
                    name="silentPrint" class="check-checkbox" id="silentPrint">
                  <label class="check-label" for="silentPrint">
                    <div id="background">
                      <p class="row justify-content-around py-2 px-1"></p>
                    </div>
                    <span class="face">
                      <span class="face-container">
                        <span class="eye left"></span>
                        <span class="eye right"></span>
                        <span class="mouth"></span>
                      </span>
                    </span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="right-sidebar ovflo-y {{menuObj.selected.sidebar}} px-4">
    <div *ngIf="menuObj.selected.menuName == 'Users'" class="w-100 h-100">
      <div class="py-2 h-100">
        <div *ngIf="!tableData.users.selected || tableData.users.multiSelect"
          class="font-fam-Montserrat wht w-100 row h-100 align-items-center justify-content-center" [@fadeInOut]>
          <h4>Select A User</h4>
        </div>
        <div *ngIf="(tableData.users.selected && !tableData.users.multiSelect) || tableData.users.selected.length == 0"
          class="relatv h-100" [@fadeInOut]>
          <div *ngIf="!tableData.sessions.dblselected" [@fadeInOut] class="abs w-100 h-100" style="right:0;">
            <div class="header font-fam-Montserrat text-bold wht w-100 py-3">
              <h4 class="text-center mx-auto f-25 w-80 excerpt my-4">{{tableData.users.selected[0]['username']}}</h4>
            </div>
            <list-table dblclick=true class="sessions w-100" [multiSelect]="tableData.sessions.multiSelect"
              name="sessions" [selectable]=false [query]="tableData.sessions.search" [tableData]="tableData.sessions"
              height="h-80" [change]="tableData.sessions.change"></list-table>
          </div>
        </div>
      </div>
    </div>
    
    <div *ngIf="menuObj.selected.menuName == 'User Roles'" class = "w-100 h-100">
        <div *ngIf="!tableData.userCategory.selected || tableData.userCategory.multiSelect"
        class="font-fam-Montserrat wht w-100 row h-100 align-items-center justify-content-center" [@fadeInOut]>
          <h4>Select A Role</h4>
        </div>
        <div  *ngIf="(tableData.userCategory.selected && !tableData.userCategory.multiSelect) || tableData.userCategory.selected.length == 0">
            <div class="text-center w-100 p-2 {{!saveAuth ? 'gone' : 'notgone'}}">
                <img src="http://localhost:80/server/assets/loader.gif" width="60px" height="38px" />
            </div>
            <button [disabled] = "!tableData.userCategory.selected" class="btn btn-success {{saveAuth ? 'gone' : 'notgone'}} w-100 mt-3 mt-2" (click) = "saveUserCategoryAuth();">Save</button>
            <form class="px-2 h-80 form-hd">
              <div  *ngFor = "let authkeys of authJson"  class = "my-4 row w-100 wht">
                <h3 class="w-100 pb-3 bw-1">{{authkeys.name}}</h3>
                <div class="w-100" *ngFor = "let check of authkeys.body">
                  <input type="checkbox" class = "vt-center {{check}}" id="{{authkeys.head}}-{{check}}" [(ngModel)]= "formAuth[check]" name="{{check}}" value="{{check}}"/>
                  <label class="opac-70 vt-center ml-4 mb-0" for="{{authkeys.head}}-{{check}}">{{check | replacestr : '_' : ' '}}</label>
                </div>
              </div>
            </form>
        </div>
      </div>
  </div>