* {
    padding: 0;
    margin: 0;
    /*background-color: #333;*/ 
} 
body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: #fff;
}
#InvoiceBody {
    .hd{
        text-align: center;
        background: rgb(149,187,223);
        color: white !important;
        border-bottom: 2px solid #eceeef !important;
    }
    & th, & td{
        border-left: 2px solid #eceeef !important;
    }
    .table-bordered{
        border: 1px solid #eceeef !important;
    }
    tbody{
        border-top: 2px solid #eceeef !important;
    }
    .inp{
        width:100%;
        height:'auto';
        border:none !important;
        outline-width: 0; 
        white-space: normal;
        width: 100%;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        cursor:text;
        resize:none;
        text-align: center;
        overflow:hidden;
    }
}
.wrapper{
    padding-left: 80px !important;
    .sidebarleft {
        width: 80px !important;
        position: fixed;
        z-index: 1000;
        left: 0;
        height: 100%;
        overflow: hidden;
        background: #333;
    }
    &.toggled {
        padding-left: 250px !important;
    
        .sidebarleft {
            width: 250px !important;
        }
    }
}
.navig {
    ul {
        width: 100%;
    }
    li {
        width: 300%;
        font-size: 1.2em;
        font-weight: 500;
        padding: 30px 30px;
        opacity: .7;
        display: block;
        &:hover {
            opacity: 1;
            background: #111;
        }
        &.active {
            opacity:  1;
            background: #222;
            box-shadow : inset 0px -5px 10px rgba(0,0,0,.3), inset 0px 5px 10px  rgba(0, 0, 0, 0.3);
        }
    }
}
.statusbar {
    height: 9vh;
    width : 100%;
    background-color: rgb(58, 157, 182);
}
list-table{
    .listhd{
        background: #ddd;
        color: #333;
        padding: 10px 0px 10px 0px;
        font-size: 13px !important;   
        .right-sidebar &{
            font-size: 12px !important;
        }
    }
    .itemlistrow {
        width: 100%;
        padding: 12px 0px 12px 0px;
        font-size: 16px;
        border-bottom: 1px solid #ccc;
        opacity: 1;
        &.active{
            box-shadow : inset 200px 200px 200px  rgba(161, 78, 157, 0.781);
            color:#fff;
            .right-sidebar &{
                font-size: 12px !important;
                color:white;
                border-bottom: none;
            }
        }   
        .right-sidebar &{
            font-size: 12px !important;
            color:white;
        }
    }  
}

.tab{
    height: 91vh;
}
.tabnav {
    height: 70%;
    bottom: 0;
}
.main {
    width: 100%;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    background-color: #fff !important;
    outline: none;
}
.hamburger--3dxy-r.is-active
.hamburger-inner{
    background-color: transparent !important;
}
.selectbtn{
    color: #fff;
    background-color: #5bc0de;
    border-color: #5bc0de;
    outline: none !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    &.actv{
        color: #5bc0de !important;
        background-image: none !important;
        background-color: transparent !important;
        border-color: #5bc0de !important;
    }
    &:focus {
        outline: none !important;
        -webkit-box-shadow: none !important;
                box-shadow: none !important;
    }
}
.right-sidebar{
    box-shadow : inset 0px 0px 40px rgba(0,0,0,.5);
    background-color: rgba(0, 0, 0, 0.7);
    .btn{
        border-width: 1.5px;
        border-style: solid;
        font-weight: 600;
    }
    .Store .fa-inverse{
        /* color: #fdd156 !important; */
    }
    .clip{
        border: none;
        padding: 5px 15px !important;
        box-shadow : inset 0px 10px 5px rgba(0,0,0,.07);
        border-radius:0;
    }
}

.hd{
    text-align: center;
    background:  #509CCB;
    color: white;
    font-size: 14px;
}

