<div class="tab row justify-content-between">
  <div class="prime w-70 p-4">
    <div class="hs-15 row align-items-center ">
      <h4 class="py-2 font-fam-Montserrat-bold col-4 px-0">Manage Customers</h4>
      <div class="col-8 px-0 row align-items-center justify-content-end">
        <input class="form-control text-center mx-3 float-left w-35" placeholder="Search"/>
        <button class="h-80 btn btn-success mx-1 font-fam-Montserrat f-12" >Add</button>
        <button class="h-80 btn btn-warning mx-1 font-fam-Montserrat f-12" >Update</button>
        <button class="h-80 btn btn-danger mx-1 font-fam-Montserrat f-12" >Delete</button>
        <button class="h-80 btn btn-outline-info mx-1 font-fam-Montserrat f-12" (click) = "selectMode = selectMode ? false : true;">Select</button>
      </div>
    </div>
    
    <list-table class="w-100" [selectMode] = "selectMode" [tableData] = "tableData" height = "h-80" (selected) = "listSelected($event)"></list-table>
  </div>
  <div class="right-sidebar w-30 p-4" style="border-left:1px solid #333">

  </div>
</div>